## Customer Addresses Analysis

The data that we have is with impurities and before we proceed to start analyzing it or predicting anything we will clean the data. The excel file is divided into 3 main tables:

1. Transactions data
2. Customer demographics data
3. Customer Address data

In this notebook we will clean customer address table and do some preprocessing to make it reliable for analysis.

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [10]:
%%capture
cwd = os.getcwd()
dataadress = pd.read_excel(cwd+"/KPMG_VI_New_raw_data_update_final.xlsx",'CustomerAddress', header=1)

In [4]:
dataadress.head()

   1   060 Morning Avenue  2016  New South Wales  Australia  10
0  2  6 Meadow Vale Court  2153  New South Wales  Australia  10
1  4   0 Holy Cross Court  4211              QLD  Australia   9
2  5  17979 Del Mar Point  2448  New South Wales  Australia   4
3  6     9 Oakridge Court  3216         Victoria  Australia   9
4  7     4 Delaware Trail  2210  New South Wales  Australia   9

In [11]:
dataadress.customer_id.value_counts()

customer_id
1       1
2676    1
2663    1
2664    1
2665    1
       ..
1343    1
1344    1
1345    1
1346    1
4003    1
Name: count, Length: 3999, dtype: int64

## Basic Info

There are few customers ids that are new in this table and are not available in the customer demographics data.

In [6]:
dataadress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   1                   3998 non-null   int64
 1   060 Morning Avenue  3998 non-null   object
 2   2016                3998 non-null   int64
 3   New South Wales     3998 non-null   object
 4   Australia           3998 non-null   object
 5   10                  3998 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.5+ KB

### Descriptive statistics

In [7]:
dataadress.describe()

                 1         2016           10
count  3998.000000  3998.000000  3998.000000
mean   2004.488994  2985.998499     7.513757
std    1154.286518   844.844777     2.824743
min       2.000000  2000.000000     1.000000
25%    1005.250000  2200.000000     6.000000
50%    2004.500000  2768.000000     8.000000
75%    3003.750000  3750.000000    10.000000
max    4003.000000  4883.000000    12.000000

### state column

In [8]:
dataadress.state.value_counts()

AttributeError: 'DataFrame' object has no attribute 'state'

Let's change the full names of the states to match with short forms so every name is consistent.

In [14]:
dataadress.state.replace({"New South Wales": "NSW", "Victoria":"VIC"}, inplace= True)

In [15]:
dataadress.state.value_counts()

state
NSW    2140
VIC    1021
QLD     838
Name: count, dtype: int64

In [16]:
dataadress.property_valuation.value_counts().sort_index()

property_valuation
1     154
2     143
3     186
4     214
5     225
6     238
7     493
8     646
9     647
10    577
11    281
12    195
Name: count, dtype: int64