In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx')

In [3]:
data

,Unnamed: 0,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,KPMG Virtual Internship,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Sprocket Central Pty Ltd Data Set,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
93,NaN,NaN,6) Now do you notice anything strange about th...,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,"7) For the rest of this Module 1 task, it is u...",NaN,NaN,NaN,NaN,NaN,NaN